<div class="container-fluid">
  {{partial 'route-bachiller'}}
  {{partial 'route-comunicacion'}}
  {{partial 'route-contacto-emergencia'}}
  {{partial 'route-declaracion'}}
  {{partial 'route-entrenamiento'}}
  {{partial 'route-idiomas'}}
</div>