<h3>Contacto Emergencia</h3>
{{!-- {{#each webapidata as |item|}} 
    <li id="profile" class="right">
        Nombre Contacto: {{item.NombreContacto}}
    </li>
    <li id="profile" class="right">
        Relacion: {{item.Relacion}}
    </li>
    <li id="profile" class="right">
        Direccion: {{item.Direccion}}
    </li>
    <li id="profile" class="right">
        Telf. Domiciolio: {{item.TelefonoDomicilio}}
    </li>
    <li id="profile" class="right">
        Direccion Trabajo: {{item.DireccionTrabajo}}
    </li> 
    <li id="profile" class="right">
        Telf. Trabajo: {{item.TelefonoTrabajo}}
    </li> 
    <li id="profile" class="right">
        Celular: {{item.NroCelular}}
    </li>                
{{/each}} --}}

{{#each webapidata as |item|}} 
    
        Nombre Contacto: {{item.NombreContacto}}
    
    
        Relacion: {{item.Relacion}}
    
    
        Direccion: {{item.Direccion}}
    
    
        Telf. Domiciolio: {{item.TelefonoDomicilio}}
    
    
        Direccion Trabajo: {{item.DireccionTrabajo}}
    
    
        Telf. Trabajo: {{item.TelefonoTrabajo}}
    
    
        Celular: {{item.NroCelular}}
                    
{{/each}}
